*{
    font-family: sans-serif;
}
.container{
    width: 1280px;
    margin:0 auto;


}.logotype{
     font-size: 80px;
     line-height: 94px;
 font-weight:normal;
     margin-bottom: 48px;


 }
 .logo-title {
     list-style: none;
     text-decoration: none;
     color: black;

 }


.blue-text{
color: deepskyblue;
}
.navigation-container{
background: #35444F;
}
.nav-menu{
display: flex;
    justify-content: center;
}

.nav-menu-item:hover{
    background-color:#222F3A ;

}
.nav-menu-link{
    font-size: 24px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: white;
    text-align: center;
    padding:26px 33px 19px 40px;
    border-left: white solid 1px ;

}
.main-ramda{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.left-menu{
width: 100%;
}

.aside-menu{
    border: black solid 1px;
    width: 344px;
}

.aside-menu-item{
    font-size: 27px;
    line-height: 27px;
    color: green;
    list-style-type: none;
    padding: 25px 44px;
    border: #00bfff;
}
.aside-menu-item:hover{
    background-color: #DBDBDB;
}

.aside-menu-link{
    list-style: none;
    text-decoration: none;
    color: #495863;
}
.aside-menu-item:hover .aside-menu-link{

    padding-left: 38px;
    color: black;
}

.picture {
    text-align: center;
    border: black solid 1px;
    margin-bottom: 20px;
}
.main-content{
    margin-left: 52px;
}



.main-image{
    padding: 75px 0;
}

.article-text{
margin: 17px 0;
    line-height: 24px;
}
.footer{
  margin-top: 34px;
}
.footer-menu{
    display: flex;
    justify-content: space-between;

}

.footer-menu-item{
    display: flex;
    justify-content: center;
    padding: 7px 0;

}

.footer-menu-link{
    text-decoration: none;
    color:#010101;
    padding:10px 15px 5px 15px;
    font-size: 28px;
}

.footer-menu-link:hover {
color: deepskyblue;
    border-bottom: deepskyblue solid 1px;

}

.footer-menu-link-active{
    color: deepskyblue;
}
.text-copyright{
    text-align: right;
    padding: 20px 0 20px 0;
    font-size: 24px;
}

.footer{
    display:flex;
    justify-content: space-around;
    background-color: #DBDBDB;
}
