body{
    box-sizing: border-box;
    background: black;
    color: #c5ad0d;
    font-family: "Star Jedi";
    font-size: 5vw;
    line-height: 1.3;
    overflow: hidden;
}
.container{
    margin: 0 auto;
    perspective: 380px;
    perspective-origin: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
    transform: scaleY(0.9);

}
.wrapper{
position: absolute;
    top: 0;
    left: 13%;
    right: 13%;
    height: 100%;
    animation: play 30s infinite;
    animation-iteration-count:infinite;
}

.scroll-text{
margin-bottom: 5rem;

}
.container-wrapper-scroll-text-main-title{
    font-size: 2.5rem;
    text-align: center;

}
.container-wrapper-scroll-text-second-title{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.container-wrapper-text{
    padding: 0.5rem 0;

}

@keyframes play  {
    0%{
transform: rotateX(21deg) translate3d(0, 50rem, 0);
        opacity: 1;
    }
85%{
opacity: 1;
}
100%{
    transform: rotateX(21deg) translate3d(0, -250rem, 0);
}
}