 .page-bg{
    background:url("../img/fon1.jpg") no-repeat center top fixed;
    background-size: cover;
     width: 100vw;
     height: 100vh;
}

.nav-menu{
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.nav-menu-logotype {
    text-decoration: none;
    font-style: normal;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 79px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
.nav-menu-logotype:hover{
    color: #01813F;
}
 .nav-menu-icons{
     margin: 17px 53px 17px auto;

 }
 .nav-menu-icons-link{
     padding: 0 12px;
     text-decoration: none;
 }

.nav-menu-title{
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    margin-right: 79px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.nav-menu-title-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    position: relative;
    padding-right: 6px;
    padding-left: 6px;
}
.nav-menu-title-link:hover{
    color: #01813F;
}
.nav-menu-title:before{
    position: absolute;
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    right: 282px;
    top: 20px;

}
.nav-menu-icons-link:hover .nav-menu-icons-link-items>path{
    fill:#01813F;
}


 .registration-section{
     background-color: #FFFFFF;
     width: 444px;
     padding: 31px 60px 38px 60px;
     margin: 54px auto 74px;
     box-sizing: border-box;
     position: relative;
 }
 .registration-section:before{
     position: absolute;
     content:url("../img/shape.svg");
     background: #3CB878;
     left: 0;
 }

 .registration-top{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 13px;

 }


 .registration-top-sign-up{
     font-size: 20px;
     line-height: 20px;
     color: #434343;
     text-decoration: none;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 400;

 }


 .registration-top-log-in{
     font-size: 14px;
     line-height: 14px;
     text-decoration: none;
     color: #3CB878;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 400;

 }

 .registration-top-log-in:hover{
     color: #01813F;
     text-decoration: underline;
 }
 .log-in-btn{
     display: flex;
     justify-content: space-between;
     margin-bottom: 31px;

 }

 .log-in-btn-link{
     width: calc(50% - 6px);
     display: flex;
     justify-content: space-between;
     position: relative;
     text-decoration: none;
     border-radius: 4px;
     box-sizing: border-box;
     align-items: center;

 }

 .button-text:before{
     position: absolute;
     content: "";
     width: 1px;
     height: 28px;
     background: #F2F2F2;
     opacity: 0.1;
     left: 49px;
     top: 10px;


 }
 .facebook{
     background: #305DB8;
     padding: 12px 22px 12px 17px;


 }
 .facebook:hover{
     background: #022263;
 }
.google{
    background: #DF4A32;
padding: 15px 27px 14px 12px;

}
 .google:hover{
     background: #AB1F09;
 }

.button-text{
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
 .or{
     display: flex;
     justify-content: space-between;
     color: #848484;
     font-size: 14px;
     line-height: 14px;
     align-items: center;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 400;
     margin-bottom: 11px;
 }
 .or:after{
     content: "";
     width: calc(50% - 12px) ;
     border: 1px solid #F2F2F2;
     background: #F2F2F2;
 }
 .or:before{
     content: "";
     width: calc(50% - 12px) ;
     border: 1px solid #F2F2F2;
     background: #F2F2F2;
 }
.sign-up{
    display: flex;
    flex-direction: column;
}
.sign-up-label{
padding-bottom: 15px;
}
.sign-up-field{
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    padding: 16px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #434343;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.sign-up-field:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-color: transparent;
    color: #434343;
    background-color: #FFFFFF;
}
.sign-up-field::placeholder{
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
 .sign-up-checkbox{
     font-size: 14px;
     line-height: 14px;
     color: #434343;
     margin-bottom: 20px;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 400;
 }

.sign-up-checkbox-link{
text-decoration: none;
}

 .sign-up-checkbox-green-text{
     color: #3CB878;
 }
 .sign-up-checkbox-green-text:hover{
     color: #01813F;
     text-decoration: underline;
 }

 .sign-up-btn {
     padding: 16px 0;
     background: rgba(60, 184, 120, 0.8);
     border: none;
     border-radius: 4px;
     color: #ffffff;
     font-size: 16px;
     line-height: 16px;
     margin-bottom: 38px;
     align-items: center;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 400;
 }
 .sign-up-btn:hover{
     background: #01813F;
 }