*{
    font-family: sans-serif;
}
.navigation{
   background: #313131;

}
.navigation-container{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.navigation-logo-img{
    background-color: #313131;
    padding: 0 27px;
}
.navigation-logo{
    font-size: 26px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;

}
.navigation-menu{
    text-transform: uppercase;
    display: flex;
    list-style: none;
    align-items: center;
}


.navigation-menu-item{
    padding: 0 35px;
}
.navigation-menu-link:hover{
    color: #14B9D5;
}
.navigation-menu-link{
text-decoration: none;
color: #ffffff;
line-height: 20px;
font-size: 15px;
}
.navigation-search{
background-color: #000000;
padding:27px;
}

.hero{
    background-image: url(../img/header-bg.jpeg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title{
color: white;
text-transform: uppercase;
font-size: 27px;
line-height: 37px;

}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding: 49px 0 52px 0;


}
.green-btn{
    background: #89CA62;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-top: 60px;
}
.blue-btn{
    background: #14B9D5;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.most-posts{
    background: #F2F2F2;
}

.flex-wrap-cards{
    display: flex;
    justify-content: center;
    grid-gap: 30px;
    align-items: flex-start;
    padding-bottom: 74px;

}
.most-posts-card{
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
}
.most-post-name{
    padding-bottom:  22px ;
   background-color: white;
    text-align: center;
}
.flex-cards-text{
    padding: 20px 0 22px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: black;

}
.most-popular-clients{
    width: 100%;
    height: 588px;
    background-image: url("../img/parallax-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
}
.title-white{
color: white;
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;


}
.title-white::after {
    content:url("../img/Rectangle 1.png");
    position: absolute;
    left: 0;
    right: 0;
    top:115px;



}
.grid-container-brands {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    grid-column-gap: 58px;
}
.top-rated-img{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.top-rated-img > img{
    width: 100%;
}
.hot-news{
    background: #FFFFFF;
}
.grid-container-news{
    display: grid;
    /*grid-template-columns: 554px 554px;*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 259px repeat(2, 1fr) 259px; ;
    grid-column-gap: 46px;
    grid-row-gap:60px;
    justify-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 77px;
}

.emirat-news {
/*display: grid;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    grid-column: 1/4;*/
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    background: #F9F7F7;

}
.spain-news {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    background: #F9F7F7;
}
.egypt-news{
   grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background: #F9F7F7;
}
.maldives-news{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    background: #F9F7F7;
}
.tenerife-news{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background: #F9F7F7;
}
.gb-news{
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    background: #F9F7F7;
}
.irelend-news{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background: #F9F7F7;
}
.spain-second-news{
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    background: #F9F7F7;

}
.emirat-img {
    /*height: 259px;*/
    width: 100%;
}
.emirat-text{
    background: #F9F7F7;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #5B6469;
    font-weight: 600;
}
.emirat-news >.emirat-text{
    padding-top: 41px;
}
.spain-second-news >.emirat-text{
    padding-top: 41px;
}

.hot-first-title{
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;

}
.second-title{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    line-height: 25px;
}
.footer-bg{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.footer-text{
    font-size: 13px;
    line-height: 13px;
    color: white;
    margin-top: 29px;
    margin-bottom: 30px;
    display: flex;
    max-width: 1169px;
}
.footer-logo{
    display: flex;
    margin-top: 29px;
    margin-bottom: 30px;
  align-items: center;


}
.footer-logo-text{
    font-size: 16px;
    font-weight:bold;
    text-transform: uppercase;
    color: white;
    padding-left: 3px;

}