*{
    font-family: 'Montserrat', sans-serif;
}
.nav-menu{
    background-image: url("pictures/Layer 1 5.png");
    height: 1012px;
    background-repeat: no-repeat;
    width: 100%;

}
.nav-menu-logo{
    width: 100%;
    height: 120px;
    display: flex;
    background: rgba(94, 93, 88, 0.6);
    position: fixed;
}
.nav-menu-logo-img{
    position: relative;
    width: 58px;
    height: 67px;
    padding: 26px 6px 27px 320px;
}
.nav-menu-logo-img-text{
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    padding: 4px 0px 0px 334px;
}

.nav-menu-logo-text{
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}
.green-color{
    color:#18CFAB;;
}
.navigation{

}
.navigation-menu{
    position: absolute;
display: flex;
    padding-top: 30px;
}
.navigation-menu::after{
    position: relative;
  background-image: url("pictures/Search icon 1.png");
}
.navigation-menu-item{
    list-style-type: none;
    display: flex;
    align-items: center;

}
.navigation-menu-item-{

}
.navigation-menu-link{
    padding: 0 21px;
text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    /*padding-top: 50px;*/
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 50px;
}
.navigation-menu-link:hover{
    color: #18CFAB;
    border-bottom: solid #18CFAB ;
}
.navigation-menu-img{
padding: 44px 380px 51px 151px;
}

.nav-menu-main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nav-menu-main-page-text{
    padding-top: 379px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
    text-transform: uppercase;

}
.nav-menu-main-page-second-text{
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.nav-menu-main-page-text-thirty{
    font-weight: normal;
    color: #D4D4D4;
  text-align: center;
    font-size: 34px;
    line-height: 1px;
}
.nav-menu-main-page-button{
    margin-right: 26px;
    background: #18CFAB;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    padding: 16px 17px;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
    margin-top: 16px;
    border-radius: 4px;
    border-top: 5px solid #ffffff;
    margin-left: 13px;
}
.nav-menu-main-page-second-button{
    background: #00CBF6;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    padding: 16px 17px;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
    margin-top: 16px;
    border-radius: 4px;
    border-top: 5px solid #ffffff;
    margin-left: 13px;
}

/*///CARDS*/

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 9px;
}
.cards-img{
}
.cards-text{
    line-height: 24px;
}
.cards-one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1C2A33;
    color: #18CFAB;
    height: 377px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

}
.cards-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #18CFAB;
    color:#FFFFFF;
    height: 377px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

/*///SERVICE*/


.service{
    display: flex;
    align-items: center;
    text-align: center;

}
.service-title{
    position: relative;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding-top: 83px;
    padding-bottom: 101px;
    text-align: center;

}
.service-title:before{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 136px;
    left: 730px;
    position: absolute;
}
.service-title:after{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 140px;
    left: 740px;
    position: absolute;
}
.service-content{
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dn{
    display: none;
}
.db{
    display: block;
}
.service-menu{
    display: flex;
}

.div-text{
    display: flex;

}

.service-menu-one{
    list-style-type: none;
    padding: 20px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
   color:  #717171;
    cursor: pointer;


}
.service-menu-one:hover{
    border: 1.5px solid #18CFAB;
    box-sizing: border-box;
}
.active {
    background: #18CFAB;
    color: #FFFFFF;
}
.service-menu-one-link{

}
.service-menu-img{

}
.service-menu-information{
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    list-style: none;
    display: flex;
    align-items: center;

}
.service-menu-inform-pic{
    padding-right: 15px;
}

.install-page{
    background-image: url("pictures/background2.png");
    height: 476px;
    text-align: center;
}
.install-page-title{
    padding-top: 126px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.install-page-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;

}
.install-page-btn{
    margin: 67px 127px;
    width: 168px;
    height: 63px;
    background: #18CFAB;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    border-radius: 4px;
    border-top: 5px solid #ffffff;
}


/*//AMAZING WORK*/


.amazing-works{
    background: #E9EDEF;
}
.amazing-works-title{
    position: relative;
    margin: 0 auto;
    padding-top: 95px;
    padding-bottom: 97px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.amazing-works-title::before{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 155px;
    left: 730px;
    position: absolute;
}

.amazing-works-title::after{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 160px;
    left: 740px;
    position: absolute;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tabs {
    list-style: none;
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}

.tab {
    position: relative;
    color: #717171;
    width: 200px;
    padding: 13px 0 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid #DADADA;
}

.tab:hover {

}

.tab.active {
    position: relative;
    color: #18CFAB;
    background: #E9EDEF;
    cursor: default;
    border: 1px solid #1ecaab;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item-img {
    display: block;
    width: 285px;
    height: 211px;
    border: none;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.grid-hover-item{
    overflow: hidden;
    position: absolute;
    width: 285px;
    height: 218px;
}

.grid-item-img:hover .grid-hover-item {
    top: 0;
    border-top:1px solid #1FDAB5 ;
    background-color: yellow;

}
.grid-hover-item-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-hover-item-inform{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    padding: 50px 40px 40px;
    width: 100%;
    background-color: #E9EDEF;
}
.grid-hover-item-inform-svg{
    margin-bottom: 40px;
}
.grid-hover-item-inform-meaning{
    text-transform: uppercase;
    font-size: 14px;
    color:#18cfab;
    align-self: center;
    margin-bottom: 15px;
}

.load-more {
    border-radius: 4px;
    border: none;
    width: 168px;
    height: 63px;
    font-size: 14px;
    font-weight: bold;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    margin-bottom: 99px;
    margin-top: 83px;
}

.load-more:hover {
    background: #1ecaab;
    opacity: 1;
}
.visible{
    display:none;
}

.breaking-news{
position: relative;
}
.breaking-news-title{
    padding-top: 82px;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4e4e4e;

}
.breaking-news-title:before{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 165px;
    left: 730px;
    position: absolute;
}
.breaking-news-title:after{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 740px;
    position: absolute;
}

.breaking-news {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*.breaking-news-lines::before {*/
/*    content: '';*/
/*    width: 80px;*/
/*    height: 1px;*/
/*    background-color: #18cfab;*/
/*    top: 170px;*/
/*    left: 95px;*/
/*    position: absolute;*/
/*}*/

/*.breaking-news-lines::after {*/
/*    content: '';*/
/*    width: 80px;*/
/*    height: 1px;*/
/*    background-color: #18cfab;*/
/*    top: 173px;*/
/*    left: 105px;*/
/*    position: absolute;*/
/*}*/

/*.breaking-news-lines {*/
/*    padding-top: 80px;*/
/*}*/

.image-news {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    position: relative;
    width: 260px;
    height: 280px;
    background-color: rgb(248, 252, 254);
}

.image-breaking-news {
    width: 100%;
    height: 208px;
}

.bottom-breaking-news {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    height: 72px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.top-right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #203e38;
    height: 70px;
    position: absolute;
    width: 70px;
    top: 0;
    right: 0;
}

.news-title {
    font-weight: 700;
    color: #717171;
    font-size: 18px;
}

.vertical-line:after {
    content: '';
    width: 1px;
    height: 14px;
    background-color: #777777;
    top: 40px;
    left: 100px;
    position: absolute;
}

.link-section-note {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px;
}

.top-right-section-date {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

.image-news:hover .top-right-section {
    background-color: #18cfab;
}

.image-news:hover .news-title {
    color: #18cfab;
}

.section-image-news {
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 1160px;
    margin-bottom: 100px;
}

.ham{
    background-image:url("pictures/Layer 333.png");
    width: 100%;
    height: 853px;
}
.ham-title{
    position: relative;
    padding-top: 98px;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
font-weight: 400;
    color: #FFFFFF;
}
.ham-title:before{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 165px;
    left: 730px;
    position: absolute;
}
.ham-title:after{
    content: '';
    width: 80px;
    height: 1px;
    background-color: #18cfab;
    top: 170px;
    left: 740px;
    position: absolute;
}

.ham-title-display{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 900px;
    margin-right: auto;
    margin-left: auto;

}

.ham-width-text{
    margin: 0 auto;
}
.ham-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
    margin-bottom: 37px;
}
.ham-text:before{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 47px;
    padding-top: 237px;
    content: "\201C";
    font-size: 91px;
    color: #18cfab;
}
.ham-img-people{
    border-radius: 80px;
    border: 4px;
background: #1FDAB5;
    mix-blend-mode: normal;
}


.foot-cont{
    background-color:#22353F;
    margin: 0 auto;
}
.foot-cont-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;

}





