*{
    font-family: sans-serif;
}
.background{

    background:url("../img/background 1.jpg") no-repeat center top fixed;
    background-size: cover;
    width: 100vw;


}
.container{
    max-width: 1030px;
    margin: 0 auto;
}

.logo-section {
    color: #FFFFFF;
    text-align: center;
}
.logo-section-img{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}
.logo-section-img-link{
    text-decoration: none;
    color: white;
    display: flex;

}

.logo-section-img-link:hover .logo-img {
    background-image:url("../img/logo 2.png") ;
}
.logo-section-img-link:hover .logo-section-img-link-items-slogan{
    color: #F26522;
}
.logo-img{
    background-image:url("../img/logo 3.png");
    width: 46px;
    height: 44px;
    background-size: cover;
    background-repeat: no-repeat ;
    margin-right: 8px;
}

.logo-section-img-link-items:hover{
    content: url("../img/logo 2.svg");
   }
.logo-section-img-link-items-slogan-title{
    font-size: 29px;
    line-height: 29px;
    display: flex;
    flex-direction: column;
}

.logo-section-img-link-items-slogan-title-small{
    font-size: 18px;
    line-height: 18px;
}
.logo-section-contact{
display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.logo-section-mail-link {
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}
.logo-section-mail-link:hover{
    color: #F26522;
}
.logo-section-number-link{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 19px;
}
.logo-section-number-link:hover{
    color: #F26522;
}
.main-content{
    padding-top: 78px;
}


.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 61px;
    grid-row-gap: 37px;
    align-items: center;

}
.content-proposition{
display: flex;
    justify-content: space-between;
    position: absolute;
    top:300px;
    left: 0;
    bottom: -63px;
    width: 100%;
    height: 55px;
    background: #F26522;
    text-decoration: none;

}
.content-link {
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.content-link:hover .content-proposition{
    top:165px;
    transition: 0.3s;
}
.content-proposition-photo{
    width: 100%;
}
.content-proposition-text{
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}
.copyright{
    padding-top: 49px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 12px;
    align-items: center;
    color: #FFFFFF;

}
.content-proposition{
    color: white;

}
.proposition-info{
     margin-left:16px;
    padding-top:7px;
    padding-bottom: 12px;
}
.content-link:hover .content-proposition-text{
    color: #F26522;
}

.proposition-info-from{
    font-size: 10px;
    line-height: 20px;
}
.proposition-info-value{
    font-size: 20px;
    line-height: 20px;
}
.proposition-info-more{
    font-size: 14px;
    line-height: 14px;
    margin-top: 29px;
    padding-right: 16px;
}
.proposition-info-more:after{
    content: " \003E ";
    padding-left: 16px;
}

ю