*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navigation-container{
    width: 1280px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.navigation-menu{
    text-decoration: none;
    color: #FF0000;
    margin: 0 auto;
    font-family: sans-serif;
}

.nav-menu-item{
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
}
.menu-header-link{
    color:#FF0000;
    text-align: center;
    text-decoration: none;
    padding:25px;
    margin: 0 auto;
    display: inline-block;
}

.img{
    width:100%;
}

.hero-title{

}

.content-container{
    text-align: center;
    padding: 45px;
    list-style: none;
    margin: 0 auto;
}

.container-text{
    padding: 67px;
}

.content-one {
    padding-bottom: 28px;


}
.content-two {

}


.content-last{
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 2.4px;
    color: #373737;
    margin-right: 115px;
    padding-bottom: 29px;
}

.button-text{
    display: inline-block;
    background:#FF0000;
    color: #fff;
    padding: 18px 44px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    margin-bottom: 82px;
    border: none;
}


.blue{
    background: deepskyblue;
    display: inline-block;
    color: #fff;
    padding: 18px 44px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    margin-bottom: 82px;
    border: none;
}


